/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(209, 213, 219);
}
h1 a{
    color: #7C3AED;
}
/* For Pagination From React Paginate */
.navigationButtons {
    max-width: 70vw;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.navigationButtons a {
    padding: 10px;
    margin: 8px;
   
    border-radius: 2px;
   
    border: 1px solid #7C3AED;
    ;
    color: #7C3AED;
    ;
    cursor: pointer;
}

.navigationButtons a:hover {
    color: white;
    background-color: #7C3AED;
    ;
}

.navigationActive a {
    color: white;
    background-color: #7C3AED;
    ;
}

.navigationDisabled a {
    color: grey;
   
}
table{
    width: 55rem;
    overflow-y: none;
}
.replace{
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width:680px) 
{
   
    .navigationButtons{
     width: 12rem;
    }
    .replace{
        display: flex;
        flex-direction: column!important;
        padding: 3rem;
       
    } 
    .replace h1{
        font-size: 3rem;
    }
    .replace a{
        font-size: 2rem;
   
    }
    .replace button{
        margin-top: 1rem;
    }
   
    /* .nav-hidden{
        display: block;
    }
    .show-util{
      
        background-color: #7C3AED;
        display: flex;
        flex-direction: column;
      margin-right: 5rem; 
      padding-top: 4rem;
        

    } */
}