@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
$color-primary: #282c34;
$color-btn: #1acbfc;
$color-accent: #fff;
$color-background: rgb(224, 216, 216);

//reset default styling
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Zen Kaku Gothic Antique",
    sans-serif;
    background-image: url('https://images.pexels.com/photos/9025296/pexels-photo-9025296.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-repeat: no-repeat;
    background-position: center center;
background-size:cover;
height: 100vh;
}

//navbar component

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: $color-primary;
    color: $color-accent;

    ul{
       display: flex;
       justify-content: space-between;
      
      li{
           list-style: none;
           padding-left: 1rem;
           a {
               color: #fff;
         text-decoration: none;
           }

       }
      li:hover, a:hover{
          color: rgb(161, 155, 155); 
          transition: 0.5s all ease-in-out;
       }
    }
}


//form component
.form-section{
text-align: center;
margin-top: 15vh;
max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
 

    form{
       
         backdrop-filter: blur(12px) sepia(.1);
        
            border: 1px solid rgb(202, 196, 196);
            padding: 4rem;
            max-width: 20rem;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            color: white;
 display: block;
 box-shadow:4px 5px 10px rgb(156, 155, 155);
 input{
     max-width: 13rem;
     height: 3vh;
 }
 input:focus{
     outline:1px solid #1acbfc;
     border: none;
 }

 button{
     background-color: $color-btn;
     margin-top: 1rem;
     color: $color-accent ;
     padding: 0.4rem;
     width: 7rem;
     outline: none;
     border: none;
     
     
 }

 button:hover{
     background: #087897;
     transition: 0.5s all ease-in-out;
 }

    }
   
}



//footer component
footer{
    margin-top: 15rem;
    background-color: $color-primary;
    color: $color-accent;
}

//overflow will stop at 1540px
.footer{

padding: 1rem;
display: flex;
justify-content: space-around;
max-width: 1540px;
margin-left: auto;
margin-right: auto;



ul{
    li{
        list-style: none;
    }
}
}